spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/demo_db_dev
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD:postgres}
  
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true

logging:
  level:
    com.example.demo: DEBUG

